@{
    ViewBag.Title = "Hakkımızda";
}

<div class="container mt-5">
    <h2 class="text-center mb-4">Hakkımızda</h2>


    <div class="text-center mb-4">
        <img src="~/hakkimizda/shoesshop2.jpeg" alt="Shoes Shop" class="custom-image-hakkimizda" />
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Misyonumuz</h3>
            <p>
                Ayakkabı sektöründe öncü olmayı hedefleyen firmamız, müşterilerimize en kaliteli ve şık ayakkabıları
                sunmayı misyon edinmiştir. Her adımda konfor ve tarzı bir arada sunarak, müşterilerimizin memnuniyetini
                en üst seviyede tutmak önceliğimizdir.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Vizyonumuz</h3>
            <p>
                Dünya çapında tanınan ve tercih edilen bir marka olma vizyonuyla hareket eden firmamız, sürekli yenilik
                ve gelişim anlayışıyla sektördeki liderliğini sürdürmeyi amaçlamaktadır. Moda ve teknolojiyi
                birleştirerek, her zevke uygun ayakkabılar tasarlıyoruz.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Geçmişimiz</h3>
            <p>
                1990 yılında kurulan firmamız, o günden bu yana müşteri memnuniyetini her zaman ön planda tutarak
                büyümeye devam etmiştir. İlk mağazamızdan bugün dünya genelinde birçok mağazamıza kadar uzanan bu
                yolculukta, kaliteli hizmet ve güvenilirlik temel değerlerimiz olmuştur.
            </p>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-12">
            <h3>Hizmetlerimiz</h3>
            <ul>
                <li>Yüksek kaliteli erkek, kadın ve çocuk ayakkabıları</li>
                <li>Özel üretim ve tasarım ayakkabılar</li>
                <li>Online ve mağaza içi alışveriş imkanı</li>
                <li>Hızlı ve güvenli kargo</li>
                <li>Satış sonrası müşteri desteği</li>
            </ul>
        </div>
    </div>
</div>
