@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="container mt-5">
    <h2 style="color: darkblue; font-style: italic; text-decoration: none; font-weight: bold; margin-top: 150px">
        HOŞGELDİNİZ...</h2>
    <h3 style="color: chartreuse; font-weight: bold; text-align: center; font-size: 30px"> TÜM ÜRÜNLERDE %50 İNDİRİM!
    </h3>

    <div class="header"></div>
    <div class="text-center mb-4">
        <div class="mb-3">
            <img src="~/home/home.webp" alt="Ana Sayfa Resmi" class="img-fluid custom-image-home" />
            <img src="~/home/home1.webp" alt="Ana Sayfa Resmi" class="img-fluid custom-image-home" />
            <img src="~/home/home2.webp" alt="Ana Sayfa Resmi" class="img-fluid custom-image-home" />
        </div>

        <div class="mb-3">
            <img src="~/home/home3.webp" alt="Ana Sayfa Resmi" class="img-fluid custom-image-home" />
            <img src="~/home/home4.webp" alt="Ana Sayfa Resmi" class="img-fluid custom-image-home" />
            <img src="~/home/home5.webp" alt="Ana Sayfa Resmi" class="img-fluid custom-image-home" />
        </div>
    </div>
</div>
