<header>
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Shoes</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button"
                data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Hakkimizda" asp-controller="Home">Hakkımızda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="KategoriList" asp-controller="Kategori">Kategoriler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="KategoriEkle" asp-controller="Kategori">Kategori Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="TumUrunler" asp-controller="Urun">Ürünler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="UrunEkle" asp-controller="Urun">Ürün Ekle</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-action="Iletisim" asp-controller="Iletisim">İletişim</a>
                    </li>
                </ul>

                <form class="form-inline" asp-controller="Urun" asp-action="Ara" method="post">
                    <div class="input-group">
                        <input class="form-control form-control-sm" type="search" placeholder="Ürün Adı"
                            aria-label="Search" name="urunAdi">
                        <button class="btn btn-outline-success btn-sm" type="submit">Ara</button>
                    </div>
                </form>

            </div>
        </div>
    </nav>
</header>